@import url('https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap');

card. {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 60%;
}
body {
        background: linear-gradient(135deg, #000000 0%, #242121 100%);
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }
            h1 {
            color: rgb(49, 49, 244);
            font-family: "Rock Salt", cursive;
            font-weight: 400;
            font-size: 4rem;
            font-style: normal;
            margin-bottom: 30px;
            text-align: center;
            word-wrap: break-word;
            }
            a {
            color: rgb(138, 11, 11);
            margin-bottom: 20px;
            }
            #spotify {
                width: 70%;
                height: 400px;
                word-wrap: break-word;
                align-items: center;
            }
             a {
            color: rgb(138, 11, 11);
            margin-bottom: 20px;
            }
         